#{extends 'securesocial/SecureSocial/main.html'/}
#{set title: messages.get('securesocial.resetTitle') /}

<div class="container">

	<div class="page-header">
		<h3>&{'securesocial.resetTitle'}</h3>
    </div>

#{if flash.error}
    <div class="alert-message block-message error">
        <div class="alert-actions">
        ${flash.error}
        </div>
    </div>
#{/if}

    <div class="clearfix">
        <p>&{'securesocial.changeLabel'}</p>
    #{form @securesocial.PasswordResetController.doChange(), autocomplete:'off'}
        <fieldset>
            #{authenticityToken /}

            <input type="hidden" name="username" value="${username}" />
            <input type="hidden" name="uuid" value="${uuid}" />

            #{securesocial_password_entry /}

            <div class="actions">
                <input type="submit" value="Submit" class="btn primary">
                <a href="@{Application.login()}" class="btn">&{'securesocial.cancel'}</input></a>
            </div>
        </fieldset>
    #{/form}
    </div>
</div>
