#{extends 'securesocial/SecureSocial/main.html'/}
#{set title: messages.get('securesocial.resetTitle') /}

<div class="container">

	<div class="page-header">
		<h31>&{'securesocial.resetTitle'}</h3>
    </div>

#{if flash.error}
    <div class="alert-message block-message error">
        <div class="alert-actions">
        ${flash.error}
        </div>
    </div>
#{/if}

    <div class="clearfix">
        <p>&{'securesocial.resetLabel'}</p>
    #{form @securesocial.PasswordResetController.sendEmail(), autocomplete:'off'}
        <fieldset>
            #{authenticityToken /}

            <div class="clearfix #{ifError 'email'} error #{/ifError}">
                <label for="email">&{'securesocial.email'}</label>

                <div class="field">
                    <input id="email" class="large" name="email" />
                    #{ifError 'email'}
                        <span class="help-inline">&{'securesocial.required'}</span>
                    #{/ifError}
                </div>
            </div>

            <div class="actions">
                <input type="submit" value="Submit" class="btn primary">
                <a href="@{Application.login()}" class="btn">&{'securesocial.cancel'}</input></a>
            </div>
        </fieldset>
    #{/form}
    </div>
</div>
