#{extends 'main.html' /}
#{set title:'beautify.me - Welcome!' /}



<div class="container">

	<div class="page-header">
		<h3>Accessories</h3>
	</div>

    #{if accessories}
     <table>
     <tr>
            #{list items:accessories, as:'accessory'}           
		     #{if accessory_index.minus(1).divisibleBy(10)}
		     </tr>
		     #{ifnot accessory_isLast}
    			 <tr>
     		#{/ifnot}
		     #{/if}
            	<td>
                <div class="accessory">
                        <a href="#"><img src="@{Application.getPic(accessory.id)}"/></a>
                         *{<div class="span1" >${accessory.articleName}  by  ${accessory.provider.name}</div>}*
				</div>
				</td>
            #{/list}
            <tr>
        </table>        
    #{/if}    
#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}
</div> <!-- /container -->


