#{extends 'main.html' /}
#{set title:'beautify.me - Welcome!' /}



<div class="container">

	<div class="page-header">
		<h3>Accessories</h3>
	</div>

    #{if accessories}
     
            #{list items:accessories, as:'accessory'}
                <div class="accessory">
                
                        <a href="#"><img src="@{Application.getPic(accessory.id)}"/></a>
                    

                          ${accessory.articleName}  by  ${accessory.provider.name}
				</div>
            #{/list}
        
        
    #{/if}
     
#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}
</div> <!-- /container -->


