#{extends 'main.html' /}
#{set title:'beautify.me - Welcome!' /}

	<style>
	div.span6 {
		padding-bottom: 50px;
	}
	div.span2 {
		padding-bottom: 30px;
	}
	</style>


    <div class="container">
      <div class="page-header">
        <h3>My stuff</h3>
      </div>
      
      <div class="row">
      	<div class="span6">
      		#{list items:useraccessories, as:'accessory'}
      			<div class="span2">
      			#{if session.securesocial_user}
                #{if controllers.AccessoryController.doesContain(accessory)}
                 #{form @AccessoryController.dislikeAccessory(accessory.id)}
                 		<dif class="span2">
                	    <input type="image" style=position:absolute; src=@{'/public/images/minus.gif'} height="20" width="20" name="imgDislike" value="dislike">
                 #{/form}
                #{/if}
    	        #{/if}
      				<a href="#"><img height="100" width="100" src="@{Application.getAccessory(accessory.id)}"/></a>
      				${accessory.articleName}  by  ${accessory.provider.name}
      				</dif>
      			</div>
      		#{/list}
      	</div>
      	<!-- <form action="@{Application.shareOnNetwork()}/" method="GET"> -->
      	<div class="span6">
      	    #{list items: userpics, as:'pic'}
      	    	<div class="span6">
      	    		<a href="@{Application.shareOnNetwork}?id=&{pic.id}"><img height="15000" width="15000" src="@{Application.getPic(pic.id)}"/></a>
      	    		${pic.name}
      	    	<!-- <input id="pic" type="image" src="@{Application.getPic(pic.id)}" value="${params.picture}"/>  -->
					<input id="emailbutton" type="image" src="@{'/public/images/mail_envelope.png'}" value="${params.button}"/>
      	    		<input id="facebookbutton" type="image" src="@{'/public/images/facebook.png'}" value="${params.button}"/>
      	    		<input id="twitterbutton" type="image" src="@{'/public/images/twitter.png'}" value="${params.button}"/>
      	    	</div>      	
      		#{/list}
      	
      	
      	</div>
      	<!--</form>-->
      
      
      
      
      
      
      
      
      	
      </div>

    </div> <!-- /container -->

 