<div id="header">
    <div id="header-inner">
        <a id="logo" href="/">beautify.me</a>

        <ul class="navigation left">
            <li><a href="/">Start</a></li>
            <li><a href="@{Application.accessories}">Accessories </a></li>
            <li><a href="@{Application.top}">Top20</a></li>
            #{if session.securesocial_user}
            <li><a href="@{Application.mystuff}">MyStuff</a></li>
            #{/if}
        </ul>

        <ul class="navigation right">
        #{if session.securesocial_user}
            <li><a href="">Logged in as ${session.securesocial_user}</a></li>
            <li><a href="@{Application.logout}">Logout</a></li>
        #{/if}
        #{else}
            <li><a href="@{Application.login}">Sign In</a></li>
            <li><a href="@{UsernamePasswordController.signup}">Sign up</a></li>
        #{/else}
        </ul>
    </div>
</div>
