<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    	#{include 'navBar.html' /}
        #{doLayout /}
    </body>
    <script src="../assets/js/bootstrap-transition.js"></script><script src="../assets/js/bootstrap-alert.js"></script><script src="../assets/js/bootstrap-modal.js"></script><script src="../assets/js/bootstrap-dropdown.js"></script><script src="../assets/js/bootstrap-scrollspy.js"></script><script src="../assets/js/bootstrap-tab.js"></script><script src="../assets/js/bootstrap-tooltip.js"></script><script src="../assets/js/bootstrap-popover.js"></script><script src="../assets/js/bootstrap-button.js"></script><script src="../assets/js/bootstrap-collapse.js"></script><script src="../assets/js/bootstrap-carousel.js"></script><script src="../assets/js/bootstrap-typeahead.js"></script>
</html>
